main {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 250px;
    margin-right: 180px;
    gap: 350px;
}

.main-section-text-container {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-section-text-container .heading {
    margin-bottom: -60px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 15px 50px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .btn-1 {
    border: 2px solid #56CCF2;
    background-color: white;
    color: #56CCF2;

}

.buttons .btn-2 {
    background-color: #56CCF2;
    color: white;
}

.main-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
}

.main-image-container img {
    position: absolute;
}

.img-1 {
    top: -407px;
    right: -310px;
    z-index: 4;
}

.img-2 {
    z-index: 3;
}

.img-3 {
    z-index: 2;
}

.img-4 {
    z-index: 1;
}

.h1-border {
    border: 8px solid orange;
    position: relative;
    z-index: -1000;
}

.ru-h1-border {
    top: -35px;
    left: 3px;
    width: 348px;
}

.en-h1-border {
    top: -35px;
    left: 3px;
    width: 327px;
}

.desc {
    position: relative;
}

.b-1, .b-2 {
    position: absolute;
    border: 4px solid orange;
    z-index: -1000;
    top: 12px;
}

.ru-b-1 {
    left: 188px;
    width: 50px;
}

.en-b-1 {
    left: 66px;
    width: 27px;
}

.ru-b-2 {
    left: 314px;
    width: 214px;
}

.en-b-2 {
    left: 150px;
    width: 178px;
}

.highlight-blue {
    font-weight: bold;
    color: #56CCF2;
}